<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Games List</title>
  <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/creynolds8/boardgamer/9a3a5fca2c4919b78b94037b8e472420ddc63907/public/images/favicon.svg">
  <link rel="stylesheet" href="styles.css" type="text/css" />
</head>
<body>
  <div>
    <h2>
      Games List
    </h2>
  </div>
  
  <div>
    <input type="number" id="searchInput" placeholder="Players">
    <button type="submit" id="searchBtn">Search</button>
  </div>  

  <div>
    <table>
      <thead>
        <tr>
          <th>Game</th>
          <th>Min</th>
          <th>Max</th>
          <th>Diff.</th>
          <th>Time</th>
          <th>Category</th>
          <th>Played</th>
        </tr>
      </thead>
      <tbody id="gamesTableBody">
        <% for (let name in games) { %>
          <tr>
            <td> <%= games[name].name %> </td>
            <td> <%= games[name].minPlayerCount %> </td>
            <td> <%= games[name].maxPlayerCount %> </td>
            <td> <%= games[name].difficulty %> </td>
            <td> <%= games[name].time %> </td>
            <td> <%= games[name].category %> </td>
            <td> 
              <% if (games[name].played) { %>
                <img src="https://raw.githubusercontent.com/creynolds8/boardgamer/9a3a5fca2c4919b78b94037b8e472420ddc63907/public/images/check-mark.svg" height="12" alt="yes">
              <% } else { %>
                <img src="https://raw.githubusercontent.com/creynolds8/boardgamer/9a3a5fca2c4919b78b94037b8e472420ddc63907/public/images/error.svg" height="12" alt="no">
              <% } %>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>

  <script>
    const searchInput = document.getElementById('searchInput')
    const searchBtn = document.getElementById('searchBtn')
    
    function getPlayerCount(number) {
      if (number) return Number(number);      
    }

    function filterGamesByPlayerCount() {
      const playerCount = getPlayerCount(searchInput.value);
      const tableRows = document.querySelectorAll('#gamesTableBody tr');
      tableRows.forEach((row) => {
        const rowMinPlayers = Number(row.children[1].textContent.trim());
        const rowMaxPlayers = Number(row.children[2].textContent.trim());
        if (!playerCount) {
          row.style.display = '';
        } else if (rowMinPlayers <= playerCount && playerCount <= rowMaxPlayers) {
          row.style.display = '';
        } else if (rowMinPlayers > playerCount || rowMaxPlayers < playerCount) {
          row.style.display = 'none';
        }
      });
    }

    searchBtn.addEventListener('click', filterGamesByPlayerCount);
    searchInput.addEventListener('keydown', (e) =>{
      if (e.key === 'Enter') {
        e.preventDefault();
        filterGamesByPlayerCount();
      }
    });
  </script>
</body>
</html>