<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Games List</title>
</head>
<body>
  <div>
    <h2>
      Games List
    </h2>
  </div>
  
  <div>
    <div>
      <input type="number" id="searchInputMin" placeholder="Min Players">
      <button type="submit" id="searchBtnMin">Search</button>
    </div>
    <div>
      <input type="number" id="searchInputMax" placeholder="Max Players">
      <button type="submit" id="searchBtnMax">Search</button>
    </div>
  </div>  

  <div>
    <table>
      <thead>
        <tr>
          <th>Game</th>
          <th>Min Players</th>
          <th>Max Players</th>
          <th>Difficulty</th>
          <th>Time</th>
          <th>Category</th>
          <th>Played</th>
        </tr>
      </thead>
      <tbody id="gamesTableBody">
        <% for (let name in games) { %>
          <tr>
            <td> <%= games[name].name %> </td>
            <td> <%= games[name].minPlayerCount %> </td>
            <td> <%= games[name].maxPlayerCount %> </td>
            <td> <%= games[name].difficulty %> </td>
            <td> <%= games[name].time %> </td>
            <td> <%= games[name].category %> </td>
            <td> <%= games[name].played %> </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>

  <script>
    const searchInputMin = document.getElementById('searchInputMin')
    const searchBtnMin = document.getElementById('searchBtnMin')
    const searchInputMax = document.getElementById('searchInputMax');
    const searchBtnMax = document.getElementById('searchBtnMax');
    
    function getMaxPlayerNumber(number) {
      if (number) return Number(number);      
    };
    function getMinPlayerNumber(number) {
      if (number) return Number(number);
    };

    function filterGamesByMinPlayer() {
      const minPlayers = getMinPlayerNumber(searchInputMin.value);
      const tableRows = document.querySelectorAll('#gamesTableBody tr');
      tableRows.forEach((row) => {
        const rowMinPlayers = row.children[1].textContent.trim();
        if (!minPlayers) {
          row.style.display = '';
        } else if (rowMinPlayers <= minPlayers) {
          row.style.display = '';
        } else if (rowMinPlayers > minPlayers) {
          row.style.display = 'none';
        }
      });
    }
    
    function filterGamesByMaxPlayer() {
      const maxPlayers = getMaxPlayerNumber(searchInputMax.value);
      const tableRows = document.querySelectorAll('#gamesTableBody tr');
      tableRows.forEach((row) => {
        const rowMaxPlayers = row.children[2].textContent.trim();
        if (!maxPlayers) {
          row.style.display = '';
        } else if (rowMaxPlayers > maxPlayers) {
          row.style.display = '';
        } else if (rowMaxPlayers < maxPlayers) {
          row.style.display = 'none';
        }
      });
    };
    searchBtnMin.addEventListener('click', filterGamesByMinPlayer);
    searchInputMin.addEventListener('keydown', (e) => {
      if (e.key === 'Enter') {
        e.preventDefault();
        filterGamesByMinPlayer();
      }
    })
    searchBtnMax.addEventListener('click', filterGamesByMaxPlayer);
    searchInputMax.addEventListener('keydown', (e) =>{
      if (e.key === 'Enter') {
        e.preventDefault();
        filterGamesByMaxPlayer();
      }
    });
  </script>
</body>
</html>